{% include 'header.html' %}
    <main role="main" class="container">    
        {% if status == "feil" %}
        <div class="alert alert-danger" role="alert">
            <strong>Noe gikk galt!</strong> Prøv igjen senere...
          </div>
        {% endif %}
      <h1 class="display-4" style="margin-top:15px">Brukeroversikt</h1>
        <ul class="list-group">
          {% for user in userlist %}
          <li class="list-group-item">{{ user.email }}
            <form action="admin.php" method="post">
            <input type="hidden" id="email" name="email" value="{{ user.email }}">
            <select class="form-control" name="privileges" style="margin-top:15px">
              <option id="1" value="0" {% if user.privileges == 0 %} selected="true" {% endif %}>Student</option>
              <option id="2" value="1"{% if user.privileges == 1 %} selected="true" {% endif %}>Lærer</option>
              <option id="3" value="2"{% if user.privileges == 2 %} selected="true" {% endif %}>Administrator</option>
            </select>
            <div class="form-check disabled">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" value="isTeacher" {% if user.isTeacher == 1 %} checked="true" {% endif %} disabled>
                  Jeg er lærer.
                </label>
            </div>
            <button class="btn btn-primary" name="updateUser" type="submit" style="margin-top:15px">Oppdater</button>
            </form>
            {% if user.isTeacher == 1 %}
            <a href ="admin.php?remove={{ user.id }}"><button class="btn btn-danger" style="margin-top:5px">Fjerne 'Jeg er lærer'</button></a>
            {% endif %}
          </li>
          {% endfor %}
        </ul>

    </main><!-- /.container -->

    {% include 'footer.html' %}

 
  </body>
</html>
