{% include 'header.html' %}

<body>
    <main role="main" class="container">


        <div class="row pt-5 pb-5">
        <!-- Header Row -->
            <div class="col-sm">
                <h2>Søk etter <b>emner</b></h2>
            </div>
        </div>

       <!-- Search form -->
       <form action="course.php" method="POST">
       <div class="input-group mb-3">
            <input type="text" class="form-control" name="search_prompt" placeholder="Søk i emner"  aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit" name="button_search"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>



        <div class="list-group ">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">Emner</h5>
                </div>
            </a>

            {% for course in result %}

        
            <a href="topics.php?course={{course.course}}" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1" name="course">{{ course.course }}</h5>
                    <small class="text-muted">{{ course.0 }} video(er)</small>
                </div>
            </a>
  
           {% endfor %} 

        </div>
 
    </main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>