{% include 'header.html' %}
<main role="main" class="container">
    {% include 'errormsg.html' %}
    {% if mode == "" %} {# Default overview of playlists #}
    <!-- No params sent -->
    <a href="editPlaylist.php?createNew"><button name="create" id="create" class="btn btn-success btn-lg float-right">Opprett ny spilleliste</button></a>
    <h1 class="display-4" style="margin-top:15px">Mine spillelister</h1>
    {% if playlists == "" %}
    <h3>Du har ingen spillelister</h3>
    {% else %}
    <ul class="list-group">
        {% for item in playlists %} {# Loops over all playlists a user owns #}
        <li class="list-group-item">
            <a href="editPlaylist.php?update={{ item.id }}"><button type="button"
              class="btn btn-primary float-right">Endre</button></a>
          <p><img src="{{ item.thumbnail }}"></p>
            <h4>{{ item.name }}</h4>
            <p>{{ item.description }}</p>
            <i>Opprettet <small>{{ item.date }}</small></i>
            <button type="button"
                    class="btn btn-danger float-right" data-toggle="modal" data-target="#modal{{ item.id }}">Slett</button>
        </li>

    <!-- Delete playlist Modal -->
  <div class="modal fade" id="modal{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Advarsel!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Er du sikker på at du vil slette spillelisten {{ item.name }}?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Angre</button>
          <a href="editPlaylist.php?deletePlaylist={{ item.id }}"><button type="submit" name="button_delete" class="btn btn-danger">Slett</button></a>
        </div>
      </div>
    </div>
  </div>
        {% endfor %}
    </ul>
    {% endif %}

    {% elseif mode == "1" %} {# Create new playlist #}
    <!-- Create new playlist -->
    <a href="editPlaylist.php">← Tilbake</a>
    <h1 class="display-4" style="margin-top:15px">Opprett ny spilleliste</h1>
    <form action="editPlaylist.php" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="playlist">Navn på spillelisten</label>
            <input class="form-control" name="name" id="playlistName" required>
        </div>
        <div class="form-group">
            <label for="description_label">Beskrivelse</label>
            <input class="form-control" name="description" id="description" required>
        </div>

        <div style="margin-bottom:10px">
          <p>Thumbnail</p>
          <input id="thumbupload" name="thumbnail_file" type="file" required> 
        </div>

        <button type="submit" name="createNew" class="btn btn-primary">Lag spilleliste</button>
    </form>

    {% elseif mode == "2" %} {# Edit current playlist #}
    <!-- Edit playlist by id -->
    <a href="editPlaylist.php">← Tilbake</a>
    <h1 class="display-4" style="margin-top:15px">Endre spilleliste</h1>
    <form action="editPlaylist.php" enctype="multipart/form-data" method="POST">
        <div class="form-group">
            <label for="playlist">Navn på spillelisten</label>
            <input class="form-control" name="name" id="playlistName" value="{{ playlistItem.name }}" required>
        </div>
        <div class="form-group">
            <label for="description">Beskrivelse</label>
            <input class="form-control" rows="5" name="description" id="description"
                value="{{ playlistItem.description }}" required>
        </div>
        <div style="margin-bottom:10px">
          <p>Thumbnail</p>
          <input id="thumbupload" name="thumbnail_file" type="file" /> 
        </div>
        <input hidden name="id" value="{{ playlistItem.id }}">
        <button type="submit" name="update" class="btn btn-primary">Oppdater spilleliste</button>
    </form>
    <h3 style="margin-top:25px">Videoer i denne spillelisten</h3>
    {% if playlistVideos == "" %}
    <strong>Det er ingen videoer i denne spillelisten</strong>
    {% else %}

    {% for videoItem in playlistVideos %} {# Loops over all videos in the selected playlist #}
    <div class="media" style="margin-bottom:15px">
        <img src="{{ videoItem.thumbnail_path }}" class="align-self-center mr-3">

        <div class="media-body">
            <h4>{{ videoItem.title }}</h4>
            <p>Beskrivelse: {{ videoItem.description }}</p>
            <p>Emne: {{ videoItem.course }}</p>
            <p>Tema: {{ videoItem.topic }}</p>
            <p>Dato lastet opp: {{ videoItem.time }}</p>
        </div>
        <a href="editPlaylist.php?update={{ playlistItem.id }}&down=false&id={{ videoItem.id }}"><i class="fas fa-arrow-up float-right"
                style="margin-right:10px"></i></a>
        <a href="editPlaylist.php?update={{ playlistItem.id }}&down=true&id={{ videoItem.id }}"><i class="fas fa-arrow-down float-right"
                style="margin-right:10px"></i></a>
        <a href="" data-toggle="modal" data-target="#Modal{{ videoItem.id }}"><i class="fas fa-times float-right"
            style="margin-right:10px" data-toggle="modal" data-target="#modal{{ videoItem.id }}"></i></a>
    </div>

        <!-- Delete playlist Modal -->
  <div class="modal fade" id="modal{{ videoItem.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Advarsel!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Er du sikker på at du vil slette <strong>{{ videoItem.title }}</strong> fra spillelisten <strong>{{ playlistItem.name }}</strong>?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Angre</button>
          <a href="editPlaylist.php?update={{ playlistItem.id }}&delete={{ videoItem.id }}"><button type="submit" name="button_delete" class="btn btn-danger">Slett</button></a>
        </div>
      </div>
    </div>
  </div>
    {% endfor %}
    {% endif %}
    <a href="editPlaylist.php?update={{ playlistItem.id }}&addVideos"><button class="btn btn-success float-right">Legg
            til videoer i spilleliste</button></a>

    {% elseif mode == "3" %} {# Add videos to playlist #}

    <a href="editPlaylist.php?update={{ playlistItem.id }}">← Tilbake</a>
    <h1 class="display-4" style="margin-top:15px">Legg til videoer i spilleliste : {{ playlistItem.name }}</h1>

    {% if videos == "" %}
    <strong>Du har ingen videoer lastet opp..</strong>

    {% else %} {# Show all videos uploaded by the user #}
    <form action="editPlaylist.php" method="POST">
        <input type="hidden" id="playlistId" name="playlistId" value="{{ playlistItem.id }}">
        <ul class="list-group">
            {% for videoItem in videos %} {# Loops over all videos uploaded by the user #}
            <li class="list-group-item">
                <div class="media" style="margin-bottom:15px">
                    <img src="{{ videoItem.thumbnail_path }}" class="align-self-center mr-3">
                    <div class="media-body">
                        <h4>{{ videoItem.title }}</h4>
                        <p>Beskrivelse: {{ videoItem.description }}</p>
                        <p>Emne: {{ videoItem.course }}</p>
                        <p>Tema: {{ videoItem.topic }}</p>
                        <p>Dato lastet opp: {{ videoItem.time }}</p>
                    </div>

                    <div class="form-check float-right">
                            <input class="form-check-input" type="checkbox" name="videoids[]" value="{{ videoItem.id }}" id="checkbox{{ loop.index }}">
                            <label class="form-check-label" for="checkbox">
                              <strong>Legg til i spillelisten</strong>
                            </label>
                          </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        <button type="submit" name="addVideos" class="btn btn-success float-right" style="margin-top:20px">Oppdater spilleliste</button>
    </form>
    {% endif %}

    {% endif %}
</main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>