{% include 'header.html' %}
<main role="main" class="container">
    {% include 'errormsg.html' %}
    <div class="jumbotron">
        <h1>NTNUTube</h1>
        <p>Her kan du søke etter videoer</p>
        <p>
            <form class="form-inline my-2 my-lg-0" action="search.php" method="GET">
                <input class="form-control mr-sm-2" type="text" name="search" placeholder="Eks. IMT2291.."
                    aria-label="Søk" required>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Søk</button>
            </form>
        </p>
    </div>

    <h1 class="display-4" style="margin-top:15px">Nye opplastninger</h1> <!-- This will repeat for x amount of videos-->
    {% if newVideos == "" %}
    <strong>Ingen videoer er lastet opp</strong>
    {% else %}
    {% for item in newVideos %}

    {% if loop.index % 4 == 1 %}
    <div class="row" style="margin-top:15px">
    {% endif %}

    <div class="col-sm-3">
            <div class="card">
                    <div class="card-body">
        <a href = "playVideo.php?id={{ item.id }}"><img src="{{ item.thumbnail_path }}" class="img-fluid"></a><strong>{{ item.title }} - {{ item.course }}</strong></div>
    </div>
</div>
    {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <h1 class="display-4" style="margin-top:15px">Abonnerte spillelister</h1> <!-- This will repeat for x amount of videos-->
    {% if subscribedPlaylists == "" %}
    <strong>Du har ikke abonnerte på noen spillelister enda. Trykk <a href="playlist.php">HER</a> For å abonnere til en / flere spillelister.</strong>
    {% else %}
    {% for subItem in subscribedPlaylists %}

    {% if loop.index % 4 == 1 %}
    <div class="row" style="margin-top:15px">
    {% endif %}
    <div class="col-sm-3">
    <div class="card">
        <div class="card-body">
            <a href = "playlist.php?show={{ subItem.id }}"><img src="{{ subItem.thumbnail }}" class="img-fluid"></a><strong>{{ subItem.name }}</strong></div>
    </div>
    </div>

    {% if loop.index % 4 == 0 or loop.last %}
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <!-- Recommended video "view" will appear here -->

</main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>