{% include 'header.html' %}

<main role="main" class="container">
    {% include 'errormsg.html' %}
    {% for info in videoinfo %} {# loop over videos #}
    <h1 class="display-4" style="margin-top:15px">{{ info.title }}</h1>
    <video style="display:block; margin: 0 auto;" poster="{{ info.thumbnail_path }}" id="player" height="720"
        width="1280" playsinline controls>
        <source src="{{ info.video_path }}" type="video/mp4">
        <!--<source src="{{ info.video_path }}" type="video/webm"> -->
        <track kind="captions" label="English captions" src="/path/to/captions.vtt" srclang="en" default>

    </video>
    <!-- Information about video -->

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ info.title }} - {{ info.course }} - {{ info.topic }}</h5>
            <p class="card-text">Lastet opp: {{ info.time }}.</p>
            <p class="card-text">Lastet opp av: {{ lecturer }}.</p>
            <p class="card-text">{{ info.description }}.</p>
        </div>
    </div>



    <!-- Video player-->

    {% if userprivileges == 0 %} {# Only students can rate videos #}
        <!-- Ratings -->
    <form action="playVideo.php" method="post">
        <div class="row align-self-center">
                <!-- https://codepen.io/yaworek/pen/JJpEaZ -->
                <div class="starrating d-flex justify-content-center flex-row-reverse" style="margin-left:15px; margin-top:10px">
                    <div class="col align-self-center">
                        <button type="submit" name="submit_rating" class="btn btn-success">Stem</button>
                    </div>
                    <input type="hidden" name="video_id" value="{{ info.id }}">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5 star"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star"></label>
                </div>
        </div>
        <div class="row align-self-center" style="margin-left:5px">
                <p><i>{{avg_rating}} - {{ total_rating }} stemmer</i></p>
        </div>
    </form>

    {% endif %}
    {% endfor %}

    {% if status != "feil" %}
    <!-- Comments -->
    <h2 style="margin-top:10px">Kommentarer</h2>
    <form class="form-group" action="playVideo.php" method="POST">
        <div>
            <input type="hidden" name="video_id" value="{{ video_id }}">
            <label for="comment">Skriv en offentlig kommentar:</label>
            <textarea name="comment_text" class="form-control" rows="5" id="comment"></textarea>
            <div class="text-right mt-1">
                <button name="submit_btn" type="submit" class="btn btn-primary">Send inn</button>
            </div>
        </div>
    </form>
    {% endif %}

    <ul class="list-group">
        {% for comment in comments %} {# Loop over comments for this video #}
        <form action="playVideo.php" method="POST">
            <input type="hidden" name="video_id" value="{{ video_id }}">
            <input type="hidden" name="comment_id" value="{{ comment.id }}">
        <li class="list-group-item ">
            <div class="media">
                <div class="media-left media-middle">
                    <img src="{{ comment.picture_path }}"
                        class="media-object" style="width:60px; margin-right:20px">
                </div>
                <div class="media-body">
                    <h4 class="media-heading"> {{comment.name}} </h4>
                    <p> {{ comment.comment }}
                    </p>
                    {% if comment.email == userinfo %}
                    <button type="submit" name="button_delete" class="float-right btn btn-primary">Slett</button>
                    {% endif %}
                </div>
        
            </div>
        </li>
    </form>
        {% endfor %}
    </ul>

</main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>