{% include 'header.html' %}
<main role="main" class="container">

    <h1 class="display-4" style="margin-top:15px">Tilgjengelige spillelister</h1>

    <div class="row" style="margin-top:30px">
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Spilleliste 1</h4>
                    <p class="card-text">Beskrivelse</p>
                    <a href="#" class="btn btn-primary">Se spilleliste</a>
                    <a href="#" class="btn btn-primary float-right">Abonner</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Spilleliste 2</h4>
                    <p class="card-text">Beskrivelse</p>
                    <a href="#" class="btn btn-primary">Se spilleliste</a>
                    <a href="#" class="btn btn-primary float-right">Abonner</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">Spilleliste 3</h4>
                    <p class="card-text">Beskrivelse</p>
                    <a href="#" class="btn btn-primary">Se spilleliste</a>
                    <a href="#" class="btn btn-primary float-right">Abonner</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:30px">
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Spilleliste 4</h4>
                        <p class="card-text">Beskrivelse</p>
                        <a href="#" class="btn btn-primary">Se spilleliste</a>
                        <a href="#" class="btn btn-primary float-right">Abonner</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Spilleliste 5</h4>
                        <p class="card-text">Beskrivelse</p>
                        <a href="#" class="btn btn-primary">Se spilleliste</a>
                        <a href="#" class="btn btn-primary float-right">Abonner</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:300px">
                    <img class="card-img-top" src="http://via.placeholder.com/320x180" alt="Card image">
                    <div class="card-body">
                        <h4 class="card-title">Spilleliste 6</h4>
                        <p class="card-text">Beskrivelse</p>
                        <a href="#" class="btn btn-primary">Se spilleliste</a>
                        <a href="#" class="btn btn-primary float-right">Abonner</a>
                    </div>
                </div>
            </div>
        </div>

</main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>