{% include 'header.html' %}
<main role="main" class="container">
    {% if status == "feil" %}
    <div class="alert alert-danger" role="alert">
        <strong>Noe gikk galt!</strong> Prøv igjen senere...
      </div>
    {% endif %}
    {% if mode == "" %}
    <h3>Søk etter spillelister</h3>
    <p>
        <form class="form-inline my-2 my-lg-0" action="playlist.php" method="GET">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Eks. TEMA 1 .."
                aria-label="Søk" required>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Søk</button>
        </form>
    </p>
    <h1 class="display-4" style="margin-top:15px">Tilgjengelige spillelister</h1>
        {% if playlists == "" %}
        <strong>Det finnes ingen spillelister. Sjekk igjen senere</strong>
        {% else %}

            {% for item in playlists %}

                {% if loop.index % 3 == 1 %}
                <div class="row" style="margin-top:30px">
                {% endif %}

                    <div class="col">
                        <div class="card" style="width:300px">
                            <img class="card-img-top" src="{{ item.thumbnail }}" alt="Card image">
                             <div class="card-body">
                                <h4 class="card-title">{{ item.name }}</h4>
                                <p class="card-text">{{ item.description }}</p>
                                <p class="card-text">Laget av : {{ item.lectname }}</p>
                                <a href="playlist.php?show={{ item.id }}" class="btn btn-primary">Se spilleliste</a>
                            </div>
                        </div>
                    </div>

                {% if loop.index % 3 == 0 or loop.last %}
                </div>
                {% endif %}

            {% endfor %}
        {% endif %}

    {% elseif mode == 1 %}
        <a href="playlist.php">← Tilbake</a>
        <h1 class="display-4" style="margin-top:15px">Videoer i spilleliste : {{ playlistInfo.name }}</h1>
        <p> Spilleliste abonnementer: {{ subscriberNum.numSubs }}</br>
            {% if subscribed == "true" %}
            <a href="playlist.php?show={{ playlistInfo.id }}&unsubscribe={{ playlistInfo.id }}" class="btn btn-danger">Avslutt abonnement</a>
            {% else %}
            <a href="playlist.php?show={{ playlistInfo.id }}&subscribe={{ playlistInfo.id }}" class="btn btn-success">Abonner</a>
            {% endif %}

        </p>
        {% if currentPlaylist == "" %}
        <strong>Det finnes ingen videoer i denne spillelisten...</strong>
        {% else %}
            {% for videoItem in currentPlaylist %}
    <div class="media" style="margin-bottom:15px">
        <a href = "playVideo.php?id={{ videoItem.id }}"><img src="{{ videoItem.thumbnail_path }}" class="align-self-center mr-3"></a>

        <div class="media-body">
            <h4>{{ videoItem.title }}</h4>
            <p>Beskrivelse: {{ videoItem.description }}</p>
            <p>Emne: {{ videoItem.course }}</p>
            <p>Tema: {{ videoItem.topic }}</p>
            <p>Dato lastet opp: {{ videoItem.time }}</p>
        </div>
    </div>
            {% endfor %}

        {% endif %}

    {% elseif mode == 2 %}
    <a href="playlist.php">← Tilbake</a>
    <h1 class="display-4" style="margin-top:15px">Søk etter : {{ search }}</h1>
    {% for item in playlists %}

    {% if loop.index % 3 == 1 %}
    <div class="row" style="margin-top:30px">
    {% endif %}

        <div class="col">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{{ item.thumbnail }}" alt="Card image">
                 <div class="card-body">
                    <h4 class="card-title">{{ item.name }}</h4>
                    <p class="card-text">{{ item.description }}</p>
                    <a href="playlist.php?show={{ item.id }}" class="btn btn-primary">Se spilleliste</a>
                </div>
            </div>
        </div>

    {% if loop.index % 3 == 0 or loop.last %}
    </div>
    {% endif %}

{% endfor %}
    {% endif %}

</main><!-- /.container -->

</body>
{% include 'footer.html' %}

</html>