{% include 'header.html' %}
<main role="main" class="container">
        <h1 class="display-4" style="margin-top:15px;margin-bottom:15px">Resultater for søk: {{ search }}</h1>
        <div class="media">
            <img src="http://via.placeholder.com/320x180" class="align-self-start mr-3">
            <div class="media-body">
                  <h4>Video tittel</h4>
                  <p>Video beskrivelse</p>
            </div>
        </div>

    </main><!-- /.container -->

    {% include 'footer.html' %}
 
  </body>
</html>
