{% include 'header.html' %}

{% include 'errormsg.html' %}
  <div class="container">
    <div class="row pt-5 pb-5">
      <!-- Header Row -->
      <div class="col-sm">
        <h2>Alle videoer</h2>
      </div>
    </div>

    {% for video in result %} {# loop over all videos #}
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
          <a href ="playVideo.php?id={{ video.id }}"><img src="{{ video.thumbnail_path }}" alt=""></a>
      </div>
      <div class="card-block">
        <a href ="playVideo.php?id={{ video.id }}"><h4 class="video-title">{{ video.title }}</h4></a>
        <!-- TODO 
        <p class="card-text"><b>Lastet opp av: </b>{{ user }}</p>
        -->
        <ul class="list-unstyled">
          <li class="mt-1"><b>Emne: </b>{{ video.course }}</li>
          <li class="mt-1"><b>Tema: </b>{{ video.topic }}</li>
          <li class="mt-1"><b>Foreleser: </b>{{ video.name }}</li>
          <li class="mt-1"><b>Lastet opp: </b>{{ video.time }}</li>
          <li class="mt-1"><b>Beskrivelse: </b>{{ video.description }}</li>
        </ul>
      </div>
      <div class="w-100"></div>
    </div>

    {% endfor %}
  </div>


  </div>
</body>

{% include 'footer.html' %}

</html>