{% include 'header.html' %}

<body>
  <div class="container">
    <div class="row pt-5 pb-5">
      <!-- Header Row -->
      <div class="col-sm">
        <h2>Mine videoer</h2>
      </div>
    </div>

    {% for video in result %}
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <img src="http://via.placeholder.com/320x180" alt="">
      </div>
      <div class="card-block">
        <h4 class="video-title">{{ video.title }} </h4>
        <p class="card-text"><b>Emne: </b>{{ video.course }}</p>
        <p class="card-text"><b>Tema: </b>{{ video.topic }}</p>
        <p class="card-text"><b>Lastet opp: </b>{{ video.time }}</p>
        <p class="card-text"><b>Beskrivelse: </b>{{ video.description }}</p>
      </div>
      <div class="w-100"></div>
    </div>

    {% endfor %}
  </div>


  </div>
</body>

{% include 'footer.html' %}

</html>