{% include 'header.html' %}
<main role="main" class="container">
{% include 'errormsg.html' %}
  <div class="container">
    <div class="row pt-5 pb-5">
      <!-- Header Row -->
      <div class="col-sm">
        <h2>Mine videoer</h2>
      </div>
    </div>

    {% for video in result %} {# loop ovver videos the user have uploaded #}
    <form method="POST">
    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
        <a href ="playVideo.php?id={{ video.id }}"><img src="{{ video.thumbnail_path }}" alt=""></a>
        <input name="video_id" type="hidden" value="{{ video.id }}">
        <!-- <img src="http://via.placeholder.com/320x180" alt=""> --->
      </div>
    
        <div class="card-block">
            <a href ="playVideo.php?id={{ video.id }}"><h4 class="video-title">{{ video.title }}</h4></a>
          <p class="card-text"><b>Emne: </b>{{ video.course }}</p>
          <p class="card-text"><b>Tema: </b>{{ video.topic }}</p>
          <p class="card-text"><b>Lastet opp: </b>{{ video.time }}</p>
          <p class="card-text"><b>Beskrivelse: </b>{{ video.description }}</p>
        </div>
        <div class="card-block">
            <div class="card-block" >
              <button type="submit" class="btn btn-outline-primary" formaction="editVideo.php" name="button_edit">Rediger</button>
              <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#Modal{{ video.id }}"  name="btn_delete">Slett</button>
            </div>
        </div>
    </form>
  </div>
    

  
  <!-- Modal -->
  <div class="modal fade" id="Modal{{ video.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Advarsel!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Er du sikker på at du vil slette denne videoen? ({{ video.title }})
        </div>
        <form method="POST" target="deleteVideo.php">
        <div class="modal-footer">
            <input type="hidden" id="id" name="video_id" value="{{ video.id }}">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Angre</button>
          <button type="submit" name="button_delete" formaction="deleteVideo.php" class="btn btn-danger">Slett</button>
        </div>
      </form>
      </div>
    </div>
  </div>



{% endfor %}
  </div>
</body>
</main>
{% include 'footer.html' %}

</html>