{% include 'header.html' %}

<body>
  <div class="container">
    <div class="row pt-5 pb-5">
      <!-- Header Row -->
      <div class="col-sm">
        <h2>Mine videoer</h2>
      </div>
    </div>

    <div class="card flex-row flex-wrap">
      <div class="card-header border-0">
          <img src="http://via.placeholder.com/320x180" alt="">
      </div>
      <div class="card-block px-2">
          <h4 class="video-title">Navn</h4>
          <p class="card-text"><b>Emne: </b>Emne</p>
          <p class="card-text"><b>Tema: </b>Tema</p>
          <p class="card-text"><b>Lastet opp: </b>12:00 21. Februar 2019</p>
          <p class="card-text"><b>Beskrivelse: </b>Dette er en kul video</p>
      </div>
      <div class="w-100"></div>

  </div>


  </div>
</body>

{% include 'footer.html' %}

</html>